{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header_deluxe(section=section) }}

<div id="page-content">
    <main>
        <div>
            {{ section.description }}
        </div>
        <br>
        <!-- Table of Contents -->
        <nav id="toc">
            <h2>Table of Contents</h2>
            
            <ul>
            {% for page in section.pages %}
            <li><a href="#{{ page.title | slugify }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <br>
        {% for page in section.pages %}


        <!-- Paper Title and Link -->
        <h2 id="{{ page.title | slugify }}">
            {% if page.extra.web %}
            <a href="{{ page.extra.web }}" target="_blank">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </h2>
        {% if page.extra.links %}
        <ul>
            {% for link in page.extra.links %}
            <li>
                <a href="{{ link }}" target="_blank">{{ link  }}</a>
            </li>
            {% endfor %}

        </ul>
        {% endif %}
    

        <!-- Description -->
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}

        <p>{{ page.content | safe }}</p>

        <br>

        {% endfor %}

    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}