{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header_deluxe(section=section) }}

<div id="page-content">
    <main>
       
        <div class="user-content-above">
            {{ section.content | split(pat="<!-- list -->") | first | safe }}
        </div>
        
       
        {% include "partials/subsections.html" %}
        
        <div class="user-content-above">
            {{ section.content | split(pat="<!-- list -->") | last | safe }}
        </div>
        
    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}



