{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header_deluxe(section=page) }}


<div id="page-content">
    <main>
        <div>
            <h3><a href="https://github.com/{{ page.extra.github_repo }}">{{ page.title }}</a>&nbsp;

                <img class="img-inline"
                    src="https://img.shields.io/github/stars/{{ page.extra.github_repo }}?style=social"
                    alt="GitHub Stars for {{ page.title }}">
            </h3>

            <p>{{ page.description }}</p>

            {{ page.content | safe }}
           

        </div>
    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}