{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header_deluxe(section=section) }}

<div id="page-content">
    <main>
        <div>
            {{ section.description }}
        </div>
        <br>
        <!-- Table of Contents -->
        <nav id="toc">
            <h2>Papers:</h2>
            
            <ul>
            {% for page in section.pages | reverse %}
            <li><a href="#{{ page.title | slugify }}">{{ page.title }}</a>, <span class="date">{{ page.date | date(format="%B %Y") }}</span></li>
            {% endfor %}
            </ul>
        </nav>
        <br>
      
            {% for page in section.pages | reverse %}
           
                <!-- Paper Title and Link -->
                <h2 id="{{ page.title | slugify }}">
                    {% if page.extra.web %}
                        <a href="{{ page.extra.web }}" target="_blank">{{ page.title }}</a>
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </h2>

                <!-- Authors -->
                {% if page.extra.authors %}
                    <strong>Authors:</strong> {{ page.extra.authors }}
                {% elif page.extra.author %}
                    <strong>Author:</strong> {{ page.extra.author }}
                {% endif %}

                <!-- Date -->
                {% if page.date %}
                    <br><strong>Published:</strong> {{ page.date | date(format="%B %Y") }}
                {% endif %}
                {% if page.extra.web %}
                    <br><strong>Link: </strong> <a href="{{ page.extra.web }}" target="_blank">{{ page.extra.web }}</a>
                {% endif %}


                <!-- Description -->
                {% if page.description %}
                    <p> {{ page.description | safe}}</p>
                {% endif %}

                {% if page.extra.abstract %}
                    <p><strong>Abstract</strong>: {{ page.extra.abstract | safe}}</p>
                {% endif %}
          <br>
            {% endfor %}
     
    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}