{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header(title=section.title) }}


<div id="page-content">
    <main>
        <div>
            {{ section.description }}
        </div>
    <br>

        <div class="subsections">
            {% for subsection_path in section.subsections %}
            {% set subsection = get_section(path=subsection_path) %}
            <div class="subsection">
                <h2><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></h2>
                <p>{{ subsection.description }}</p>

                <ul>
                    {% for page in subsection.pages %}

                    <li>

                        <h3><a href="https://github.com/{{ page.extra.github_repo }}">{{ page.title }}</a>&nbsp;

                            <img class="img-inline"
                                src="https://img.shields.io/github/stars/{{ page.extra.github_repo }}?style=social"
                                alt="GitHub Stars for {{ page.title }}">
                        </h3>

                        <p>{{ page.description }}</p>

                        {{ page.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}