{% macro page_header(title) %}
<h1 class="title-container section-title bottom-divider">
    {{ title }}
</h1>
{% endmacro page_header %}


{% macro page_header_deluxe(section) %}
<h1 class="title-container section-title bottom-divider">
    {{ section.title }}
</h1>
<nav class="breadcrumbs">
    <ul>
        <!-- Always Start with "Home" -->
        <li><a href="{{ config.base_url }}">Home</a></li>

        <!-- Loop Through Ancestors and Skip the First -->
        {% for ancestor_path in section.ancestors %}
        {% if loop.index > 1 %}
        {% set ancestor = get_section(path=ancestor_path) %}
        <li>
            <a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- Current Section -->
        <li>{{ section.title }}</li>
    </ul>
</nav>
{% endmacro page_header_deluxe %}



{% macro tag_page_header_deluxe(title,tag="") %}
<h1 class="title-container section-title bottom-divider">
    {{title}}
</h1>
<nav class="breadcrumbs">
    <ul>
        <!-- Always Start with "Home" -->
        <li><a href="{{ config.base_url }}">Home</a></li>

        <!-- Loop Through Ancestors and Skip the First -->

        {% if tag != "" %}

        <li>
            <a href="/tags">Tags</a>
        </li>
        <li>{{ tag }}</li>
        {% else %}
        <li>Tags</li>
        {% endif %}

        

    </ul>
</nav>
{% endmacro page_header_deluxe %}